#marco{
    
		width : 400px ;
                height: 200px ;
                position: absolute;
                top:  450px; 
                left: 50px;
                bottom: 500px;
                right: 1000px;
               	font-size: 100%;
		color: #000000;
		font-weight: bold;
}               



#ImagenCentral{
    position: relative;
  
		width : 1250px ;
                height: 650px ;
                
      
}
